/* Beginning of Index */
.indexmain { 
    margin-left: 10%;
    margin-right: 10%;
}
.flex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;}

/* Five colors: Light Blue and Yellow, Medium/Dark Blue, Red, and White */

/* End of Index */

/* Beginning of Page 2 */

.page2main { 
    margin-left: 10%;
    margin-right: 10%;
}

/* End of Page 2 */

/* Beginning of Page 3 */

.page3main { 
    margin-left: 10%;
    margin-right: 10%;
}

/* End of Page 3 */

header {
    margin: 0;
    padding: 0.5%;
    width: 99%;
    background-color:midnightblue;
}

body {
    background-color:steelblue;
    color:gold;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
}


h1 {
    color:rgb(105, 42, 105);
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 1em;
}

h2, h3, h4, h5 {
    color:rgb(105, 42, 105);
}

.centered {
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    text-align: center;
    float: center;
}

p {
    text-indent: 2em;
} 

ul li {
    list-style-type: circle;
    margin-bottom: 1.4em;
}

.intro {
    font-style: italic;
}

.noindent {
    text-indent: 0em;
}

footer {
    margin: 0;
    margin-top: 20em;
    padding: 0.5%;
    width: 99%;
    background-color: darkred;
    position: sticky;
    bottom: 0px;
    
}
.footer {
    text-align: center;
    color:whitesmoke;
}



/* Beginning of Links */

a:link {
    color:darkgreen;
    text-decoration: none;
}

a:hover {
    color:limegreen;
}

a:active {
    color:darkgreen;
}

a:visited {
    color:darkred;
}

a:visited:hover {
    color:red;
}

a:visited:active {
    color:darkred;
}

/* End of Links */

























































/* Beginning of Responsive Web Design */

/* @media (max-width: 750px) {
    body {
        
    }
} */

/* End of Responsive Web Design */