/* Beginning of Index */
.indexmain { 
    margin-left: 10%;
    margin-right: 10%;
}


/* Five colors: Light Blue and Yellow, Medium/Dark Blue, Red, and White */

/* End of Index */

/* Beginning of Page 2 */

.page2main { 
    margin-left: 10%;
    margin-right: 10%;
}

/* End of Page 2 */

/* Beginning of Page 3 */

.page3main { 
    margin-left: 10%;
    margin-right: 10%;
}

/* End of Page 3 */

header {
    margin: 0;
    width: 99%;
    background-color:midnightblue;
}

body {
    background-color:steelblue;
    color:gold;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
}


h1 {
    color:rgb(105, 42, 105);
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    margin-bottom: 1em;
}

h2, h3, h4, h5 {
    color:rgb(105, 42, 105);
}

.centered {
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    text-align: center;
}

p {
    text-indent: 2em;
} 

ul li {
    list-style-type: circle;
    margin-bottom: 1.4em;
}

#clickintro {
    font-style: italic;
}

.noindent {
    text-indent: 0em;
}

footer {
    margin: 0;
    margin-top: 20em;
    padding: 0.5%;
    width: 99%;
    background-color: darkred;
    position: sticky;
    bottom: 0px;
    opacity: 75%;   
}
.footer {
    text-align: center;
    color:whitesmoke;
}



/* Drop-Down */
body {
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    height: 100vh;
}

div#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: midnightblue;
    opacity: 75%;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5%;
}

div#navbar.nav {
opacity: 100%;
}

div.nav {
    width: 30%;
    text-align: center;
    opacity: 100%;
}

div.nav div.dropdownitem a, .furtherdropdown {
    display: none;
    text-decoration: none;
    color: green;
    font-family: monospace;
    border-width: 3px;
    border-style: inset;
    position: relative;
}

div.nav:hover div.dropdownitem a{
    display: block;
}

/* Beginning of Links */

a:link {
    color: green;
    text-decoration: none;
    opacity: 100%;
}

sub a:link {
    color:darkgreen;
    text-decoration: none;
    opacity: 100%;
}

a:hover {
    color:limegreen;
    opacity: 100%;
}

sub a:hover {
    color:limegreen;
    opacity: 100%;
}

a:active {
    color:green;
    opacity: 100%;
}

sub a:active {
    color:darkgreen;
    opacity: 100%;
}

a:visited {
    color:firebrick;
    opacity: 100%;
}

a:visited:hover {
    color:red;
    opacity: 100%;
}

a:visited:active {
    color:firebrick;
    opacity: 100%;
}

/* End of Links */



/* Beginning of Responsive Web Design */



@media screen and (orientation: portrait) and (max-width: 980px) {

    sub {
        font-size: 0.75em;
        transition-property: all;
        transition-duration: 0.5s;
    }
    main {
        font-size: 0.75em;
        margin-left: 5%;
        margin-right: 5%;
        transition-property: all;
        transition-duration: 0.5s;
        }
    h1 {
        font-size: 1.5em;
        transition-property: all;
        transition-duration: 0.5s;
    }
    img {
        width: 50vw;
    }
    .footer {
        font-size: 0.85em;
    }
}

@media screen and (orientation: landscape) {

    sub {
        font-size: "";
        transition-property: all;
        transition-duration: 0.5s;
    }

    main {
        font-size: "";
        margin-left: "";
        margin-right: "";
        transition-property: all;
        transition-duration: 0.5s;
    }
    h1 {
        font-size: "";
        transition-property: all;
        transition-duration: 0.5s;
    }
    img {
        width: "";
    }
    .footer {
        font-size: "";
    }
}
/* End of Responsive Web Design */